.vscode
node_modules
npm-debug.log
debug.log

dev
dist
dist-aot
dist-sp
compiled-aot
docs

/src/**/*.js
/src/**/*.map
/src/**/*.ngfactory.ts
/src/**/*.css.shim.ts

/test/**/*.js
/test/**/*.map
/test/**/*.ngfactory.ts
/test/**/*.css.shim.ts

*.zip

yarn-error.log
yarn.lock
