<main>

    <div class="container">

        <h1>Radagast Wizard Demo</h1>

        <rad-wizard>
            <div>
                <button [beforeMove]="sampleBeforeMove" radPrevious>Previous</button>
                <button radNext>Next</button>
            </div>
            <rad-wizard-step [stepOrder]="1" stepName="step1">
                test step 1
            </rad-wizard-step>
            <rad-wizard-step [stepOrder]="2" stepName="step2">
                test step 2
            </rad-wizard-step>
            <rad-wizard-step [stepOrder]="3" stepName="step3">
                test step 3      
            </rad-wizard-step>
        </rad-wizard>

    </div>

</main>
